
.Header {
  position: absolute;
  width: 780px;
  height: 107px;
  left: 550px;
  top: 320px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 105px;
  display: flex;
  align-items: center;
  color: #D1D1D1;
}