
.Header {
  position: absolute;
  width: 60vw;
  height: 107px;
  left: 27vw;
  top: 33vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 105px;
  display: flex;
  align-items: center;
  color: #D1D1D1;
  background-color: red;
}